@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

:root {
  --font-primary: 'Roboto', sans-serif;
  --background-image: url('./img/pexels-emiliano-arano-3608311.jpg');
  --text-color: #ffffff;
  --nav-background: #333;
  --accent-color: #64ffda;
  --accent-hover: #006b39;
  --button-text-hover-color: #ffffff; /* Text color for buttons on hover */
  --overlay-color: rgba(0, 0, 0, 0.6); /* For text background */
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: var(--text-color);
  overflow-x: hidden;
}

:any-link {
  text-decoration: none;
}

nav {
  background: var(--nav-background);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--accent-hover);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; /* Minimum height to fill the viewport */
  margin-bottom: -100px; /* Negative margin to pull the next content up */
}

.header h1 {
  font-size: 4rem; /* Increased font size */
  font-weight: 700; /* Bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}

.header p {
  font-size: 1.5rem; /* Increased font size */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}
.scroll-indicator-wrapper {
  position: absolute;
  bottom: 3%; /* Position at the bottom of the header */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Align center horizontally */
  z-index: 10; /* Make sure it's above other content */
  pointer-events: none; /* Prevents the element from capturing clicks */
}

.scroll-indicator {
  font-size: 1.5rem; /* Larger font size for visibility */
  color: var(--button-text-hover-color); /* Text color from the defined variable */
  text-transform: uppercase; /* Uppercase text for stylistic choice */
  letter-spacing: 1px; /* Spacing between letters for better readability */
  animation: bounce 2s infinite; /* Infinite bounce animation */
  user-select: none; /* Prevent text from being selected */
  opacity: 0.7; /* Semi-transparent for better blending with the background */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for the opacity change */
}

/* Adjust main content section */
main {
  margin-top: -100px; /* Overlap main content with the header */
  padding-top: 100px; /* Add padding to compensate for header height */
}

/* Styling for each section */
section {
  padding: 2rem;
  margin: 0; /* Remove margins to eliminate gaps */
  position: relative;
  z-index: 2;
}

section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-color);
  z-index: -1;
}

/* Button styles */
.button {
  background: var(--accent-color);
  color: #000;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0.5rem;
  transition: all 0.3s ease;
  display: inline-block; /* Ensure buttons are inline elements */
  margin: 0.5rem; /* Space around buttons */
}

.button:hover, .button:focus {
  background-color: var(--accent-hover);
  color: var(--button-text-hover-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer styles */
footer {
  background: var(--overlay-color);
  padding: 1rem;
  position: relative;
  z-index: 2;
}

/* Contact form styles */
#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

#contact-form input[type=email],
#contact-form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  transition: border-color 0.3s;
}

#contact-form input[type=email]:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

#contact-form button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: #000;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#contact-form button:hover {
  background-color: var(--accent-hover);
  color: var(--button-text-hover-color);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  #links {
    /* Stacking links in a column */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #links .button {
    /* Full width buttons with more vertical space */
    width: 80%; /* Adjust the width to your preference */
    margin: 0.5rem 0; /* Increase vertical margin */
  }
}

@media (max-width: 480px) {
  #links .button {
    /* Adjustments for smaller screens */
    width: 90%; /* Even wider buttons on smaller screens */
    padding: 0.6rem; /* Slightly larger padding */
  }
}
