/* Importing Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Root CSS Variables for easy theme management */
:root {
  --font-primary: 'Roboto', sans-serif;
  --background-image: url('./img/pexels-emiliano-arano-3608311.jpg');
  --text-color: #ffffff;
  --nav-background: #333;
  --accent-color: #64ffda;
  --accent-hover: #006b39;
  --button-text-hover-color: #ffffff;
  --overlay-color: rgba(0, 0, 0, 0.6);
}

/* Global styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: var(--text-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Link styling */
:any-link {
  text-decoration: none;
}

/* Navigation styles */
nav {
  background: var(--nav-background);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--accent-color);
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: -100px;
}

.header h1 {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Scroll indicator bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}

.scroll-indicator-wrapper {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
}

.scroll-indicator {
  font-size: 1.5rem;
  color: var(--button-text-hover-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: bounce 2s infinite;
  user-select: none;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

/* Fade out animation for scroll indicator */
.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s, visibility 0.1s;
}

/* Main content section adjustment */
main {
  margin-top: -100px;
  padding-top: 100px;
}

/* General section styles */
section {
  padding: 2rem;
  margin: 0;
  position: relative;
  z-index: 2;
}

/* Background overlay for sections */
section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-color);
  z-index: -1;
}

#about {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Button styles */
.button {
  background: none; /* Usuń tło */
  border: none; /* Usuń obramowanie */
  padding: 0; /* Usuń padding */
  margin: 0.5rem; /* Dodaj niewielki margines */
  transition: transform 0.3s;
  display: inline-flex; /* Wyśrodkuj ikonę i tekst */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Contact form styles */
#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

#contact-form input[type=email], #contact-form textarea {
  resize: vertical;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  transition: border-color 0.3s;
}

#contact-form input[type=email]:focus, #contact-form textarea:focus {
  background-color: var(--text-color); /* Tło na hover */
  color: var(--nav-background); /* Kolor tekstu na hover */
  border-color: var(--text-color); /* Kolor obramówki na hover */
  box-shadow: 0 0 15px var(--accent-color);
}

#contact-form textarea {
  height: 3rem;
  min-height: 3rem;
}

#contact-form button[type="submit"] {
  align-self: center;
  padding: 10px 20px;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: var(--accent-color); /* Kolor tekstu */
  background-color: transparent; /* Przezroczyste tło */
  border: 2px solid var(--accent-color); /* Obramówka */
  border-radius: 25px; /* Okrągłe rogi */
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px white; /* Biała poświata */
}


#contact-form button[type="submit"]:hover {
  background-color: var(--text-color); /* Tło na hover */
  color: var(--nav-background); /* Kolor tekstu na hover */
  border-color: var(--text-color); /* Kolor obramówki na hover */
  box-shadow: 0 0 15px var(--accent-color);
}
/* Footer styles */
footer {
  background: var(--overlay-color);
  padding: 1rem;
  position: relative;
  z-index: 2;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  #links .button {
    width: 80%;
    margin: 0.5rem 0;
  }

  #about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 480px) {
  #links .button {
    width: 90%;
    padding: 0.6rem;
  }

  #about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Skills container and cards */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.skill-card {
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.skill-card:hover {
  transform: scale(1.05); /* Lekkie powiększenie */
  filter: brightness(1.2); /* Lekkie rozjaśnienie */
}

.skills-container:hover .skill-card:not(:hover) {
  opacity: 0.7; /* Przygaszenie innych kart */
}

.skill-level {
  display: flex;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
}

.circle.filled {
  background-color: var(--accent-color);
}

.social-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  border-radius: 5px;
}

.social-icon {
  width: 40px;
  height: 40px;
  position: relative;
  filter: drop-shadow(0 0 8px var(--text-color));
  will-change: transform, filter;
}

.social-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px var(--accent-color));
}


.download-cv-section a {
  width: 10rem;
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--accent-color); /* Kolor tekstu */
  background-color: transparent; /* Przezroczyste tło */
  border: 2px solid var(--accent-color); /* Obramówka */
  border-radius: 25px; /* Okrągłe rogi */
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px white; /* Biała poświata */
}

.download-cv-section a:hover {
  background-color: var(--text-color); /* Tło na hover */
  color: var(--nav-background); /* Kolor tekstu na hover */
  border-color: var(--text-color); /* Kolor obramówki na hover */
  box-shadow: 0 0 15px var(--accent-color); /* Poświata w kolorze akcentu na hover */
}



